<h1>Listing observations</h1>
 
<table>
  <tr>
    <th>body</th>
  </tr>
 
  <% @observations.each do |observation| %>
    <tr>
      <td><%= observation.body %></td>
      <td><%= link_to 'Show', observation_path(observation) %></td>
      <td><%= link_to 'Edit', edit_proposal_path(observation) %></td>
      <td><%= link_to 'Delete', observation_path(observation),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>