<div class="showproposal">
  <p>
    <strong>Summary:</strong>
    <%= @proposal.summary %>
  </p>
  <br>
  <p>
    <strong>Hypothesis:</strong>
    <%= @proposal.hypothesis %>
  </p>
  <br>
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_proposal_path(@proposal), style: 'color:darkolivegreen' %> |
  <% end %>
  <%= link_to 'Back', proposals_path, style: 'color:darkolivegreen' %>

</div>
