<p>
  <strong>summary:</strong>
  <%= @proposal.summary %>
</p>
 
<p>
  <strong>Hypothesis:</strong>
  <%= @proposal.hypothesis %>
</p>

<%= link_to 'Edit', edit_proposal_path(@proposal) %> |
<%= link_to 'Back', proposals_path %>
