* {
  font-family: sans-serif;
}

.login-title {
  margin-left: -1400px;
}

form {
  margin-left: 10px;
    margin-top: 5px;
}

input {
  text-align: center;
  width: 25%;
  margin-bottom: 15px;
  height: 30px;
  font-size: 16px;
}

.submit {
  margin-left: 20px;
}

.actions {
  margin-top: 10px;
  padding: 10px;
}

.remember {
  text-align: left;
  padding-top: 20px;
  margin-left: 10px;
}
