.collapse-bg {
    background-color: darkseagreen;
    overflow: hidden;
}

a {
    text-decoration: none;
    font-family: monopsace;
    color: dimgrey;
    font-size: 115%
}

.navbar {
    position: fixed;
    display: inline;
}

#logo {
  height: 100px;
  display: inline-block;
  float: left;
}

.topnav li {
    float: right;
    display: inline;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
    border: 1px;
    margin-bottom: 5px;
    margin-right: 10px;
    position: relative;

}

.topnav li:hover {
    background-color: silver;
    color: black;
}

.topnav li.active {
    background-color: #4CAF50;
    color: white;
}
