// Place all the styles related to the experiments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.color {
  letter-spacing: .08em;
  color: #fff;
}
.position {
  position: relative;
  bottom:100px;
  width:50%;
}

.absolute{
  position: absolute;
}

.center {
  left:400px;
  text-align: center;
}
