// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.protitle {
  margin-left: 25px;
  padding-left: 20px;
}

 .id {
  padding-left: 20px;
 }

.summary {
   padding-left: 20px;
}

.newp {
  margin-left: 20px;
}

.newshow {
  margin-left: 80px;
}
