<footer class="footer">
  <div class="collapse-bg p-a-1">
    <div class='bottomfoot'>
      <h4 id="year">&copy; 2019</h4>

      <div id="contact">
        <h4 class="foots">Address</h4>
          <p class="address">1258 Dexter Lane</p>
          <p class="address">Motown, USA</p>
      </div>

      <div id="int">
        <h4 class="foots">Social</h4>
          <a class="social" href="https://www.facebook.com/">Facebook</a>
          <br>
          <a class="social" href="https://twitter.com/">Twitter</a>
      </div>


        <ul>
            <li class="foot-other">
              <%= link_to 'About', about_path  %>
            </li>
            <li class="foot-other">
              <%= link_to 'Help', help_path %>
            </li>
        </ul>
    </div>
  </div>
</footer>
